{% extends 'base.html' %}

{% block title %}Solicitar novo cartão{% endblock %}

{% load widget_tweaks %}

{% block content %}
<p><a href="{% url 'cards:view_requests' %}">Voltar</a></p>
<h2 class="my-4">Solicitar Novo Cartão</h2>
<div>
  <form method="post" novalidate class="w-25">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          <div class="invalid-feedback">
            {{ field.errors|first }}
          </div>
        {% else %}
          {% render_field field class="form-control" %}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Enviar Solicitação</button>
  </form>
</div>
{% endblock %}


